/*style*/
.background {
  background: rgb(161, 187, 162);
}

.cap {
  background-color: #445552 ;
  color:#F5FBEF ;
}

.center {
  text-align:center;
}

* {
box-sizing: border-box;
}

body {
  max-width:1000px;
  max-height: 800px;
  margin-left:auto;
  margin-right:auto;
}

h1,h2,h3,h4,nav {
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
}
/*change main page text color*/
h2,p,ul,li{
  color:#445552;
}

p, li, ul, ol{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*font sizes*/

h1 {
  font-size: 10vmax;
}

h2 {
  font-size: 7vmax;
}

h3 {
  font-size: 5vmax;
}

h4 {
  font-size: 3vmax;
}

p, li, ol, ul {
  font-size:2vmax;
}

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:5%;
  width:100%;
  height: auto;
}

a {
  font-size: 2vmax;
  text-decoration:none;
  padding: 2vmax;
}

a:link    { color: #F5FBEF;  }
a:visited { color: rgb(109, 45, 63);   }
a:hover   { color: #EE7B30; }
a:active  { color: rgb(255, 255, 255);  }